<div class="content">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Angular Framework</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/images/angular.svg">
      <mat-card-content>
        <p>
            Angular is a TypeScript-based, free and open-source web application framework 
            led by the Angular Team at Google and by a community of individuals and corporations. 
            Angular is a complete rewrite from the same team that built AngularJS.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
</div>