<div class="content">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Miami</mat-card-title>
        <mat-card-subtitle>03/10/2023-03/12/2023</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/images/miami.jpg">
      <mat-card-content>
        <p>
          Miami, officially the City of Miami, 
          known as "the 305", "The Magic City", and "Gateway to the Americas", 
          is a coastal metropolis and the seat of Miami-Dade County in South Florida
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button color="primary" mat-raised-button>View Trip</button>
      </mat-card-actions>
    </mat-card>
</div>