<div class="card-deck-container">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let card of cardList">
            <div class="content">
                <mat-card class="mat-elevation-z4">
                  <mat-card-header>
                    <mat-card-title>{{card.cardTitle}}</mat-card-title>
                    <mat-card-subtitle>{{card.cardSubTitle}}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="../../assets/images/miami.jpg">
                  <!-- <mat-card-content>
                    <p>
                        {{card.cardContent}}
                    </p>
                  </mat-card-content> -->
                  <mat-card-actions>
                    <button color="primary" mat-raised-button>View Trip</button>
                  </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>  
</div>
