<div class="bg-img">
    <div class="navbar-container">
        <mat-toolbar color="transparent">
            <div class="navbar-title">
                <span mat-button routerLink= "/">Vacation Planner</span>
            </div>
            <div class="navbar-centered">
            </div>
            <div class="navbar-right">
                <a mat-button routerLink="/trips" routerLinkActive="mat-accent">Trips</a>
                <a mat-button routerLink="/login" routerLinkActive="mat-accent">Log in</a>
            </div>
        </mat-toolbar>
    </div>
    <div class="home-search-container">
        <mat-card class=home-search-card>
            <mat-card-title>
                Start Planning
            </mat-card-title>
            <mat-card-content class="home-search-content">
                <mat-form-field appearance="fill" >
                    <mat-label>Destination</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Choose your dates</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="tripsFilter.date">
                    <mat-datepicker-range matSuffix [for]="picker"></mat-datepicker-range>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    <mat-datepicker #picker [(ngModel)]="tripsFilter.date" ngDefaultControl (selectedChanged)="onDate($event)"></mat-datepicker>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div>

</div>
