<div class="navbar-container">
    <mat-toolbar color="primary">
        <div class="navbar-title">
            <span mat-button routerLink= "/" routerLinkActive="bg-image" 
            [routerLinkActiveOptions]="{exact:true}">Vacation Planner</span>
        </div>
        <div class="navbar-centered">
        </div>
        <div class="navbar-right">
            <a mat-button routerLink="/trips" routerLinkActive="mat-accent">Trips</a>
            <a mat-button routerLink="/login" routerLinkActive="mat-accent">Log in</a>
        </div>
    </mat-toolbar>
</div>  
